<form name="user" class="form-horizontal" ng-show="!nickname" ng-submit="setNickname(newNickname)">
    <div class="form-group" ng-class="user.newNickname.$invalid ? 'has-error' : 'has-success'">
        <div class="col-sm-9">
            <input type="text" maxlength="25" required="required" placeholder="Votre nom ou votre pseudo..."
                   name="newNickname" class="form-control" ng-model="newNickname">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success btn-block" type="submit" ng-disabled="user.newNickname.$invalid">
                Valider
            </button>
        </div>
    </div>
</form>
        <h3 ng-show="nickname">
            Votre pseudo:
            <a href="" ng-mouseenter="showHelp = true" ng-mouseleave="showHelp = false" ng-click="nickname = ''">{{nickname}}</a>
            <small ng-show="showHelp" style="position: absolute;">(cliquer pour changer)</small>
        </h3>
<hr/>
<ul class="list-group" ng-if="roomId">
    <li class="list-group-item" ng-repeat="message in messages">
        <span class="label" ng-class="message.nickname == nickname ? 'label-primary' : 'label-success'">
            {{message.nickname}} à {{message.createdAt|date:'HH:mm:ss'}}
        </span>
        <span class="fa fa-angle-right"></span>
        {{message.content}}
    </li>
</ul>
<form ng-submit="addMessage(newMessage, nickname)">
    <div class="input-group">
        <input placeholder="Votre message..." class="form-control" ng-model="newMessage" type="text"/>
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit" ng-disabled="!nickname">
                Envoyer
            </button>
        </span>
    </div>
</form>